@model IEnumerable<IberaDelivery.Models.Product>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Shopping Cart";
    decimal preutotal = 0;
    decimal ivaTotal = 0;
    decimal preuMesIva = 0;
    var productList = Model;
    productList = productList.OrderBy(item => item.Id);
}
@{
    <div class="container">
        <div class="row">
            <div class="col-10">
                @if (productList.Count() > 0)
                { 
                    @foreach (var item in productList)
                    {
                        ivaTotal = item.Price * item.Iva / 100;
                        preuMesIva = item.Price + ivaTotal;
                        preutotal = preutotal + preuMesIva;
                        <div class="col-12 card shadow-0 border rounded-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3">
                                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                    @{
                                                        Image img = item.Images.FirstOrDefault();
                                                    }
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(img.Image1)"
                                                class="img-thumbnail" class="w-100" />
                                                    <a href="#!">
                                                        <div class="hover-overlay">
                                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <h5>@item.Name</h5>
                                                <p class="text-truncate mb-4 mb-md-0">
                                                    @item.Description
                                                </p>
                                            </div>
                                            <div class="col-3">
                                                <div class="text-center">
                                                    <h4 class="mb-1 me-1">@item.Stock x @preuMesIva</h4>
                                                </div>
                                                <div class="d-flex flex-column mt-4">
                                                    <div class="btn-group justify-content-center">
                                                        <a asp-action="RemoveOne" asp-route-id="@item.Id"><button
                                                        class="btn btn-primary btn-sm" type="button">-</button></a>
                                                        <a asp-controller="Product" asp-action="Detail"
                                                asp-route-id="@item.Id"><button class="btn btn-primary btn-sm mx-1 justify-content-center"
                                                        type="button">Details</button></a>
                                                        <a asp-action="AddOne" asp-route-id="@item.Id"><button
                                                        class="btn btn-primary btn-sm" type="button">+</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    }
                }    else
    {
        <h2>No results</h2>
    }
            </div>
            <div class="col-2 card shadow-0 border rounded-3">
                <div class="row text-center ">
                    <h2 class="mb-2">TOTAL PRICE</h2>
                    <h3 class="mb-3">@preutotal €</h3>
                    <a asp-action="CheckoutDetails"><button class="btn btn-primary btn-sm m-5 justify-content-center"
                    type="button">¡Buy!</button></a>
                </div>
            </div>
        </div>
    </div>

}