@model IEnumerable<IberaDelivery.Models.Product>
@using System.Text.Json
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Search";
    decimal ivaTotal = 0;
    decimal preuMesIva = 0;
    User User = new User();
    User = null;
    if (HttpContextAccessor.HttpContext.Session.GetString("user") != null)
    {
        User = JsonSerializer.Deserialize<User>(HttpContextAccessor.HttpContext.Session.GetString("user"));
    }
}

<h2>Searching: "@ViewBag.Search"</h2>
@{
    <div>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                ivaTotal = item.Price * item.Iva / 100;
                preuMesIva = Math.Round((item.Price + ivaTotal),2);
                <div class="row justify-content-center mb-3">
                    <div class="col-md-12 col-xl-10">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                            @{
                                                Image img = item.Images.FirstOrDefault();

                                                if (img != null)
                                                {

                                                }
                                            }
                                            <img src="data:image;base64,@System.Convert.ToBase64String(img.Image1)"
                                        class="img-thumbnail" class="w-100" />
                                            <a href="#!">
                                                <div class="hover-overlay">
                                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                        <h5>@item.Name</h5>
                                        <p class="text-truncate mb-4 mb-md-0">
                                            @item.Description
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                        <div class="d-flex flex-row align-items-center mb-1">
                                            <h4 class="mb-1 me-1">@preuMesIva €</h4>
                                        </div>
                                        <div class="d-flex flex-column mt-4">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"><button
                                            class="btn btn-info btn-sm" type="button">Details</button></a>
                                            @if (User != null)
                                            {
                                                @if (item.Stock > 11){
                                                <a asp-controller="Checkout" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-src="@ViewBag.Search">
                                                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to cart</button>
                                                </a>
                                                } else if ((item.Stock > 0)  && (item.Stock <= 10)){
                                                <a asp-controller="Checkout" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-src="@ViewBag.Search">
                                                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to cart</button>
                                                </a>
                                                    <p class="text-danger">¡There are only @item.Stock left, hurry!</p>
                                                } else
                                                {
                                                     <p class="text-danger">Product unavailable</p>
                                                }
                                            }  
                                            else
                                            {
                                                <a asp-controller="User" asp-action="Login">
                                                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to cart</button>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>No results</h2>
        }
    </div>
}