@model IberaDelivery.Models.Product;
@using IberaDelivery.Models;
@using System.Text.Json
@using System;
@using System.Collections.Generic;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = Model.Name;
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Images)
            {
                <div class="carousel-item @(i == 0 ? "active" : "") ">
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Image1)" class="img-thumbnail"
                    style="width: 500px; height: 500px;" />
                </div>
                { i++; }
            }
        </div>
        <div class="col-sm">
            <h2 class="mb-4 display-4">
                @Html.DisplayFor(Product => Product.Name)
            </h2>
            <div class="mt-1 mb-0 text-muted small">
                @Html.DisplayFor(Product => Product.Category.Name)
            </div>
            <p>
                @Html.DisplayFor(Product => Product.Description)
            </p>
            <div class="col-sm">
                <h4 class="mb-1 me-1">@(Model.Price + @Model.Iva)€</h4>
                @if (Model.Stock > 0)
                {
                    <a asp-action="AddToCart" asp-route-id="@this.Model.Id" class="btn btn-success btn-lg">Add to cart </a>
                }
                else
                {
                    <button class="btn btn-failure btn-lg" type="button">Product unavailable</button>
                }
            </div>
        </div>
        <div class="col-sm">
            @if (@HttpContextAccessor.HttpContext.Session.GetString("Cart") != null)
            {
                List<Product> list;
                list = new List<Product>();
                list =
                JsonSerializer.Deserialize<List<Product>>(@HttpContextAccessor.HttpContext.Session.GetString("Cart"));
                var totalPrice = new Decimal();
                <div>
                    <h3>Carrito</h3>
                    <ul style="list-style-type: none;">
                        @for (int j = 0; j < list.Count; j++)
                        {
                            <li><b>@list[j].Name</b></li>
                            <li>Price: @(list[j].Price + @list[j].Iva)</li>
                            <li>Quantity: @list[j].Stock</li>
                            totalPrice = totalPrice + (list[j].Price + @list[j].Iva);
                        }
                    </ul>
                    <p>
                        Total price = <b>@totalPrice</b>
                    </p>
                </div>
                <a asp-action="Checkout">Checkout</a>
                <a asp-action="ClearCart" asp-route-id="@this.Model.Id">Empty Cart</a>
            }
            else
            {
                <div>
                    Your shopping cart is empty!
                </div>
            }
        </div>
        @using (Html.BeginForm("Create", "Comment"))
        {
        <div class="form-group">
                @Html.Label("Comment here bitch!")
                @Html.Hidden("id", Model.Id)
                @Html.TextBox("com",null, new{@class = "form-control"})
            </div>
        }
        <div>
            @foreach (var item in Model.Comments)
            {
                <p>@item.Contens</p><br>
            }
        </div>
    </div>
</div>