@model IEnumerable<IberaDelivery.Models.Product>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Products";
    
}

<h2>Productes</h2>

<a asp-action="Create"><button>New Product +</button></a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Description)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </th>
            <th>@*
                @Html.DisplayFor(modelItem => item.Provider.FullName)
                *@
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Stock)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Iva)
            </th>
            
         @*   @if (@HttpContextAccessor.HttpContext.Session.GetString("userName") != null){  *@

            
                <td>
                   <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                   <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
       @*     }else{
                <td></td>
                <td></td>
            } *@
            </tr>
        }
    </tbody>
</table>
<form asp-action="Index">
<input type="text" class="form-control" name="Cadena"> <input type="button" value="Cerca"> @ViewBag.missatge
</form>
@if(@ViewBag.missatge != null){
<a asp-action="Index">Treure filtre</a>
}

