@model IEnumerable<IberaDelivery.Models.Product>
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc;
@using IberaDelivery.Models;
@using Microsoft.EntityFrameworkCore;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Products";
    User userSession = new User();
    if(HttpContextAccessor.HttpContext.Session.GetString("user") != null){
         userSession = JsonSerializer.Deserialize<User>(HttpContextAccessor.HttpContext.Session.GetString("user"));
    }
}

<h2>Products</h2>
<a asp-action="Create" class="btn-info"><button>Create new product</button></a>
<br><br>
<form asp-action="Index">

    <input type="text" class="form-control" name="Cadena">  @ViewBag.cadena
    @if (@ViewBag.cadena != null)
{
    <a asp-action="Index">Treure filtre</a>
} 

<select  name="cat" id="cat" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="">-- Select Category --</option>
                </select>
<select name="criteri" id="criteri">
    
    @if (@ViewBag.missatge == 1)
    {
        <option value="1" selected >Id ASC</option>
    }else{
        <option value="1">Id ASC</option>
    }

    @if (@ViewBag.missatge == 2)
    {
        <option value="2" selected>Id Desc</option>
    }else{
       <option value="2">Id DESC</option>
    }

    @if (@ViewBag.missatge == 3)
    {
       <option value="3" selected>Preu ASC</option>
    }else{
        <option value="3">Preu DESC</option>
    }

    @if (@ViewBag.missatge == 4)
    {
         <option value="4" selected>Preu Desc</option>
    }else{
        <option value="4">Preu DESC</option>
    }
    
    
   
   
</select>

<input type="submit" value="Search" class="btn btn-info">

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Description)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Provider.FirstName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Stock)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Iva)
            </th>
            
         @*   @if (@HttpContextAccessor.HttpContext.Session.GetString("userName") != null){  *@


                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                   <a asp-action="Detail" asp-route-id="@item.Id">Details</a>
                </td>
                <!--
                <td>
                    <a asp-action="AddToCart" asp-route-id="@item.Id">+</a>
                </td>
                -->
            </tr>
        }
    </tbody>
</table>

