@model IEnumerable<IberaDelivery.Models.User>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "List of Users";

}

<h2>Users</h2>

<a asp-action="Create" class="btn btn-info"><button>New User +</button></a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>Disable</th>
            <th>Edit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @switch (item.Rol)
                {
                    case 1:
                        <td>Administrator</td>
                        break;

                    case 2:
                        <td>Provider</td>
                        break;

                    case 3:
                        <td>User</td>
                        break;

                }
                @if(item.Activate == true){
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Disable</a>
                </td>
                }else{
                <td>
                    <a asp-action="Enable" asp-route-id="@item.Id">Enable</a>
                </td>
                }
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>