@model IberaDelivery.Models.User

@{
    ViewData["Title"] = "Managment";
}

<div class="container w-100 justify-content-center">
    <div class="row justify-content-center w-80">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    @using (Html.BeginForm("Managment", "User"))
                    {
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-3"><b>Personal Details</b></h6>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h7 class="mb-3 text-success">@ViewBag.SaveMessage</h7>
                            <h7 class="mb-3 text-danger">@ViewBag.ErrorMessage</h7>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(a => a.FirstName)
                                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(a => a.LastName)
                                @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" value="Managment" name="submit" class="btn btn-info">Update</button>
                            </div>
                        </div>
                    </div>
                    }
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-3"><b>Account Settings</b></h6>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <div class="card pl-1 py-2">
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                                <a asp-action="NewEmail" asp-route-id="@Model.Id">Change Email Address</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-info" asp-action="NewPassword" asp-route-id="@Model.Id">New Password</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-info" asp-action="Index" asp-controller="Shipment" asp-route-id="@Model.Id">Manage Shipment Information</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-info" asp-action="Index" asp-controller="CreditCard" asp-route-id="@Model.Id">Manage stored credit card information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}