@model IberaDelivery.Models.User
@{
    ViewBag.Title = "New Email";
}

<h2>New Email</h2>


<div>
    @using (Html.BeginForm("NewEmail", "User"))
    {
        <div class="card container">

            <div style="color:red;">@Html.ValidationSummary()</div>
            @Html.HiddenFor(a => a.Id)
            <div class="row">
                <div class="col-lg-2"><b>New Email</b></div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.Email, new { @class = "form-control"})<div style="color:red;">@ViewBag.Message</div></div>
            </div><br />
            <div class="row">
                <div class="col-lg-2"><h8><b>Confirm with password</b></h8></div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>
            </div><br />
            <input type="submit" value="Register" class="btn btn-info" />
        </div>
    }

</div>