@model IberaDelivery.Models.ViewUserNewPassword
@{
    ViewBag.Title = "New Password";
}

<h2>New Password</h2>


<div>
    @using (Html.BeginForm("NewPassword", "User"))
    {
        <div class="card container">

            <div style="color:red;">@Html.ValidationSummary()</div>
            @Html.HiddenFor(a => a.Id)
            <div class="row">
                <div class="col-lg-2">@Html.LabelFor(a => a.OrgPassword)</div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.OrgPassword, new { @class = "form-control", type = "Password" })<div style="color:red;">@ViewBag.Message</div></div>
            </div><br />
            <div class="row">
                <div class="col-lg-2">@Html.LabelFor(a => a.Password)</div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>
            </div><br />
            <div class="row">
                <div class="col-lg-2">@Html.LabelFor(a => a.ConfirmPassword)</div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control", type = "Password" })</div>
            </div><br />
            <input type="submit" value="Register" class="btn btn-primary" />
        </div>
    }

</div>