@model IberaDelivery.Models.CreditCardEditForm
@inject IHttpContextAccessor HttpContextAccessor
@using System.Text.Json
@{
    ViewData["Title"] = "Edit";

}

<h1>Edit</h1>

<h4>Credit Card Information</h4>
<hr />
<div class="row">
    @using (Html.BeginForm("Edit", "CreditCard"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>
        <div class="col-lg-12">@ViewBag.Message</div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-2">@Html.LabelFor(a => a.CardNumber)</div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.CardNumber, new { @class = "form-control" })</div>
            </div><br />
            <div class="row">
                <div class="col-lg-2">@Html.LabelFor(a => a.Cardholder)</div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.Cardholder, new { @class = "form-control" })</div>
            </div><br />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Edit" class="btn btn-info" />
        </div>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>